{% extends 'nav.html' %}
{% block content %}


<!-- ad-single start here -->
<div class="commontop">
	<div class="container"> 
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="add">
					<div class="addtop">
						<h3>Submit a Free Ad</h3>
					</div>
					<form method="post" enctype="multipart/form-data" class="form-horizontal addform">
						{% csrf_token %}
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								<label>Add Title*</label>
								<span class="pull-right">70 char Left</span>
								<input name="titless" value="" id="input-title" class="form-control"  type="text">
							</div>
							
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-xs-12">
								<label>Brand*</label>
								<input name="Brand" value="" id="input-name" class="form-control"  type="text">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								
								<label>Select Category*</label>
								<ul class="ads-category list-inline" >
									<li ><input type="radio" name="test" id="cb1"  class="ads-category-selection" value="vehicle" required/>
										<label for="cb1"><img src="{ ../static/images/vehicle/icons8-motorcycle.png' }" /><span >Automobiles</span></label>
									  </li>
									<li ><input type="radio" name="test" id="cb3"  class="ads-category-selection" value="Mobile_and_Accessories" required/>
									  <label for="cb3"><img src="{ ../static/images/mobile/smartphone-tablet.png' }" /><span>Mobile & Accessories</span></label>
									</li>
									<li ><input type="radio" name="test" id="cb2" class="ads-category-selection"  value="Electronics_TVs_and_More" required />
										<label for="cb2"><img src="{ ../static//images/icon3.png' }" /><span>Electronics TVs & More</span></label>
									  </li>
								</ul>
							</div>
						</div>
						<div  class="tab-content">
							<div class="tab-pane active" id="vehicle">
								<div class="form-group">
									<div class="col-sm-7 col-xs-12">
										<label>Model*</label>
										<input name="model"  id="input-model" class="form-control"  type="text" >
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-7 col-xs-12">
										<label>Year*</label>
										<input name="year"  id="input-year" class="form-control"  type="date" >
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-7 col-xs-12 square">
										<span> km</span><label>KM Driven*</label>
										<input name="driven" value="" id="input-driven" class="form-control"  type="number">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="Mobile_and_Accessories">
								<div class="form-group">
									<div class="col-sm-7 col-xs-12">
										<label>Model*</label>
										<input name="model"  id="input-model2" class="form-control"  type="text" >
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-7 col-xs-12">
										<label>Buy Year*</label>
										<input name="years"  id="input-year2" class="form-control"  type="date" >
									</div>
								</div>
							 
							</div>
							<div class="tab-pane" id="Electronics_TVs_and_More">
								<div class="form-group">
									<div class="col-sm-7 col-xs-12">
										<label>Model*</label>
										<input name="model"  id="input-model3" class="form-control"  type="text" >
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-7 col-xs-12">
										<label>Buy Year*</label>
										<input name="years"  id="input-year3" class="form-control"  type="date" >
									</div>
								</div>
							</div>
							<div class="tab-pane" id="Real_Estate">
								<div class="form-group">
									<div class="col-sm-12 col-xs-12">
										<label>Options*</label>
										<div class="checked">
											<div class="check">
												<input type="checkbox" name="credit" class="checkclass"/>For Sale
											</div>
											<div class="check">
												<input type="checkbox" name="credit" class="checkclass"/>For Rent
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-5 col-xs-12 square_left">
										<label>Price*</label>
										<span> रू</span><input name="price2" value="" id="input-price2" class="form-control"  type="number">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-5 col-xs-12">
										<label>Furnished*</label>
										<select class="selectpicker form-control bs-select-hidden" name="location">
											<option value="1">Choose</option>
											<option value="0">Chair</option>
											<option value="0">Table</option>
											<option value="0">Bed</option>
											<option value="0">Almirah</option>
											<option value="0">Dinning Table</option>
											<option value="0">Sofa</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-5 col-xs-12">
										<label>BHK*</label>
										<select class="selectpicker form-control bs-select-hidden" name="location">
											<option value="1">Choose</option>
											<option value="0">Chair</option>
											<option value="0">Table</option>
											<option value="0">Bed</option>
											<option value="0">Almirah</option>
											<option value="0">Dinning Table</option>
											<option value="0">Sofa</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-7 col-xs-12 square">
										<label>Square feet*</label>
										
										<input name="feet" value="" id="input-feet" class="form-control"  type="number">
										<span>ft<sup>2</sup></span>
										
										
										
									</div>
								</div>
							</div>
							<div class="tab-pane" id="fashion">
								
							</div>
							<div class="tab-pane" id="furniture">
								
							</div>
							<div class="tab-pane" id="jobs">
								<div class="form-group">
									<div class="col-sm-12 col-xs-12">
										<label>Type of Job*</label>
										<div class="checked">
											<div class="check">
												<input type="checkbox" name="credit" class="checkclass"/>Offering Job
											</div>
											<div class="check">
												<input type="checkbox" name="credit" class="checkclass"/>Seeking Job
											</div>
										</div>
									</div>
								</div>	
							</div>
							<div class="tab-pane" id="service">
								
							</div>
							<div class="tab-pane" id="pet">
								
							</div>
							<div class="tab-pane" id="education">
								
							</div>
							<div class="tab-pane" id="matrimony">
								
							</div>
							<div class="tab-pane" id="notes">
								
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								<label>Conditions*</label>
										<div class="checked">
											<div class="check">
												<input type="radio" name="credit" class="checkclass" value="Used" />Used
											</div>
											<div class="check">
												<input type="radio" name="credit" class="checkclass" value="Brand New"/>Brand New
											</div>
											<div class="check">
												<input type="radio" name="credit" class="checkclass" value="Likely New"/>Likely New
											</div>
											<div class="check">
												<input type="radio" name="credit" class="checkclass" value="Not Working"/>Not Working
											</div>
										</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								<label>Description*</label>
								<span class="pull-right">5000 char Left</span>
								<textarea name="enquiry" id="input-enquiry" class="form-control"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								<label>Add Photos*</label>
								<input name="photo" class="form-control"  type="file" accept="image/*">
								<!-- <div class="photo">
									<ul class="list-inline">
										<li><a href="#"><i class="la la-plus"></i></a></li>
										<li><a href="#"><i class="la la-plus"></i></a></li>
										<li><a href="#"><i class="la la-plus"></i></a></li>
										<li><a href="#"><i class="la la-plus"></i></a></li>
									</ul>
								</div> -->
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-xs-12 square_left">
								<span> रू</span><label>Price*</label>
								<input name="price" value="" id="input-price" class="form-control"  type="number">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-xs-12">
								<label>Name*</label>
								<input name="name" value="" id="input-name" class="form-control"  type="text">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-xs-12 square_left">
								<label>Phone Number*</label>
								<span>+977</span><input name="phone" value="" id="input-phone" class="form-control"  type="number">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-xs-12">
								<label>Enter City*</label>
								<input name="city" value="" id="input-city" class="form-control"  type="text">
							</div>
						</div>
						<div class="buttons">
							<input class="btn btn-primary" id = "ad_submit" value="Submit" type="submit">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ad-single end here -->

   {% endblock %}