{% extends 'nav.html' %}
{% block content %}




<!-- ad-single start here -->
<div class="commontop">
	<div class="container"> 
		<div class="row">
			<div class="col-sm-9 col-xs-12">
				<h2 class="title-singleads">Consultant  services </h2>
				<div class="tabheading">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="row">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation"><a class="active" href="#photos" aria-controls="home" role="tab" data-toggle="tab">Photos</a></li>
								
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="row pull-right">
							<div class="time-location hidden-xs">
								<i class="la la-clock-o"></i> 09/03/2020							
							</div>
							<div class="advertise-id">
							 AD ID : #237							
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active show margin-map" id="photos">
						<div id="ad-singlephotos">
							<img src="images/big.jpg" alt="image" title="image" class="img-fluid" />
						</div>
					</div>
					<div role="tabpanel" class="tab-pane margin-map" id="adsmap">
						<div class="map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d219104.85983086875!2d75.71658808151895!3d30.90026973769041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a837462345a7d%3A0x681102348ec60610!2sLudhiana%2C+Punjab!5e0!3m2!1sen!2sin!4v1482266274532"></iframe>
						</div>
					</div>
				</div>
				<div class="details-single">
					<div class="title-detail">Additional Details						</div>
					<ul class="clearfix">
						<li><div class="listing-details"><span class="label">AD ID</span><span class="desc"> : #237</span></div></li>
						<li><div class="listing-details"><span class="label">Posted On</span><span class="desc"><i class="la la-clock-o"></i> 09/03/2020</span></div></li>
					</ul>
					<div class="clearfix"></div>
					<div class="title-detail">Description</div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make<br></p>
					<div class="clearfix"></div>
					<div class="title-detail">Location</div>	
					<ul class="clearfix location-list">
						<li><div class="listing-details"><span class="label">City</span><span class="desc"></span></div></li>
						<li><div class="listing-details"><span class="label">Zone</span><span class="desc"> </span></div></li>
						<li><div class="listing-details"><span class="label">Country</span><span class="desc"></span></div></li>
						<li><div class="listing-details"><span class="label">Address</span><span class="desc"></span></div></li>	
					</ul>	
					<div class="clearfix"></div>
					
				</div>
			</div>
			<div class="col-sm-3 col-xs-12">
				<div class="rightside">
					<p class="price">$ 12000</p>
					<div class="profile text-center">
						<div class="image">
							<img src="images/client.png" class="img-fluid" alt="image" title="image" />
							<div class="circle"></div>
						</div>
						<h4>John Doe</h4>
						<p>Online</p>
						<span>( Active on site since 2 year )</span>
					</div>
					<ul class="list-inline">
						<li><a href="#"><i class="la la-envelope-o"></i></a></li>
						<li><a href="#"><i class="la la-heart-o"></i></a></li>
					</ul>
					<div class="phone">
						<i class="la la-phone"></i> +91 1234567890
					</div>
					<div class="safety">
						<h3>Safety Tips for Buyers</h3>
						<p>01. Lorem ipsum dolor sit amit</p>
						<p>02. Lorem ipsum dolor sit amit</p>
						<p>03. Lorem ipsum dolor sit amit</p>
						<p>04. Lorem ipsum dolor sit amit</p>
						<div class="text-center">
							<a href="#">More Tips<i class="la la-angle-double-right"></i></a>
						</div>	
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ad-single end here -->

<div class="banner10">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img src="../static/images/ads.jpg" class="img-fluid bannerchange" alt="THIS IS THE PLACE FOR ADS" title="title">
			</div>
		</div>
	</div>
</div>


{% endblock %}