{% extends 'nav.html' %}
{% block content %}


<!-- ad-single start here -->
<div class="commontop">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-12">
				<div class="dashboard">
					<div class="profile">
						<div class="col-sm-3 col-xs-12">
							<img class="img-fluid" src="{{request.user.customer.profile_pic.url}}" alt="image" title="image">
						</div>
						<div class="col-sm-9 col-xs-12 padd0">
							<h4>{{request.user}}</h4>
							<h3>({{request.user.customer.name}})</h3>
							<div class="common"> 
								<p class="des"><i class="la la-map-marker"></i> {{request.user.customer.location}} </p>
								<p class="des1">Create Account : 2 Years ago</p>
							</div>
							<ul class="list-inline">
								<li class="active"><a href="dashboard.html"><img
											src="../static/images/dashboard/grid.png" alt="image" title="image" />
										<p>Dashboard</p>
									</a></li>
								<li><a href="{% url 'myads'%}"><img src="../static/images/dashboard/card.png"
											alt="image" title="image" />
										<p>My Ads</p>
									</a></li>

							</ul>
						</div>
					</div>
					<div class="inner">
						<h3>About Yourself</h3>
						<p>{{request.user.customer.about_yourself}}</p>
						

					<ul class="list-inline icons">
						

						<li>
							<div class="img"><img src="../static/images/dashboard/settings.png" alt="image"
									title="image" /></div>
							<p><a href="dashboard_setting.html">Setting</a></p>
						</li>
					</ul>
					<h2>You can Edit Your Details.</h2>
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{form.as_p}}
						<button type="submit">Submit</button>
					</form
				</div>
			</div>
			<!-- <div class="col-sm-6 col-sm-12">
				<div class="dashboard">
					<div class="profile">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{{form}}
							<button type="submit">Submit</button>
						</form>
					</ul>
				</div>
			</div> -->
		</div>
	</div>
</div>

<!-- ad-single end here -->


{% endblock %}