{% extends 'nav.html' %}
{% block content %}


<!-- ad-single start here -->
<div class="commontop">
	<div class="container"> 
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="dashboard">
					<div class="profile">
						<div class="col-sm-3 col-xs-12">
							<img class="img-fluid" src="images/dashboard/dp.png" alt="image" title="image">
						</div>
						<div class="col-sm-9 col-xs-12 padd0">
							<h4>John Doe</h4>
							<div class="common">
								<p class="des"><i class="la la-map-marker"></i> Ludhiana, Punjab</p>
								<p class="des1">Create Account : 2 Years ago</p>
							</div>
							<ul class="list-inline">
								<li class="active"><a href="dashboard.html"><img src="images/dashboard/grid.png" alt="image" title="image" /><p>Dashboard</p></a></li>
								<li ><a href="dashboard_my_ads.html"><img src="images/dashboard/card.png" alt="image" title="image" /><p>My Ads</p></a></li>
								
							</ul>
						</div>
					</div>
					
					<ul class="list-inline icons">
						<li>
							<div class="img"><img src="images/dashboard/cardboard.png" alt="image" title="image" /></div>
							<p><a href="dashboard_my_ads.html">My Ads</a></p></li>
						<li>
							<div class="img"><img src="images/dashboard/messages.png" alt="image" title="image" /></div><p><a href="dashboard_message.html">Messages</a></p></li>
						<li><div class="img"><img src="images/dashboard/like.png" alt="image" title="image" /></div><p><a href="dashboard_fav_ads.html">Favourite Ads</a></p></li>
						<li><div class="img"><img src="images/dashboard/searchs.png" alt="image" title="image" /></div><p><a href="dashboard_my_searches.html">My Searches</a></p></li>
						<li><div class="img"><img src="images/dashboard/settings.png" alt="image" title="image" /></div><p><a href="dashboard_setting.html">Setting</a></p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ad-single end here -->


{% endblock %}
