{% extends 'nav.html' %}
{% block content %}



<!-- faq start here -->
<div class="commontop">
	<div class="container"> 
		<div class="col-md-12 col-sm-12 col-xs-12 login padd0">
			<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 bor">
				
				<div class="donot">Don't have an account? <a href="register.html">Create your account</a>
				</div>
				<p>It takes less than a minute</p>
				<div class="or">
					<span>or</span>
					<hr/>
				</div>
				<h2>Login Via Social Accounts</h2>
				<ul class="list-unstyled">
					<li><a href="https://www.facebook.com/" target="_blank" class="fb"><i class="fa fa-facebook"></i> Login Via Facebook</a></li>
					<li><a href="https://twitter.com/" target="_blank" class="tw"><i class="fa fa-twitter"></i> Login Via Twitter</a></li>
					<li><a href="https://plus.google.com/" target="_blank" class="gp"><i class="fa fa-google-plus"></i> Login Via Google+</a></li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h1>Login</h1>
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<i class="la la-envelope-o"></i><input type="text" name="username" value="" placeholder="username" id="input-username" class="form-control" />
					</div>
					<div class="form-group">
						<i class="la la-unlock"></i><input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" />
					</div>
					<div class="links">
						<i class="la la-check-circle"></i>Remember me
						<a href="" class="pull-right">Forgot Password?</a>
					</div>
					<button type="submit"  class="btn btn-primary btn-block" >Login Now</button>
				</form>
				
			</div>	
			</div>	
		</div>
	</div>
</div>
<!-- faq end here -->



{% endblock %}
