{% extends 'nav.html' %}
{% block content %}

<!-- breadcrumb end here -->
<div class="bread-crumb">
	<div class="container">
		<div class="matter">
			<div class="pull-left">
				<ul class="list-inline">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'mobile'%}">Mobile Category</a></li>
				</ul>
			</div>
			<div class="pull-right">
				<h2>Mobile Category</h2>
			</div>
		</div>
	</div>
</div>
<!-- breadcrumb end here -->

<!-- content start here -->
<div class="maincategory">
	<div class="container"> 
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
				<div class="left">
					<div class="category">
						<h1>Categories</h1>
						<ul class="list-unstyled">
							<li><a href="{% url 'vehicles' %}"><img src="../static/images/blog/motorcycle.png" class="img-fluid" alt="image" title="image"> Vehicle</a></li>
							<li><a href="{% url 'mobile' %}"><img src="../static/images/blog/tablet.png" class="img-fluid" alt="image" title="image"> Mobiles</a></li>
							<li><a href="{% url 'electronics' %}"><img src="../static/images/blog/globe-bulb.png" class="img-fluid" alt="image" title="image"> Electonics</a></li>
							<li><a href=""><img src="../static/images/blog/building.png" class="img-fluid" alt="image" title="image"> Real Estate</a></li>
							<li><a href=""><img src="../static/images/blog/trainer.png" class="img-fluid" alt="image" title="image"> Fashion</a></li>
							<li><a href=""><img src="../static/images/blog/chair.png" class="img-fluid" alt="image" title="image"> Furniture</a></li>
							<li><a href=""><img src="../static/images/blog/briefcase.png" class="img-fluid" alt="image" title="image"> Jobs</a></li>
							<li><a href=""><img src="../static/images/blog/maintenance.png" class="img-fluid" alt="image" title="image"> Services</a></li>
							<li><a href=""><img src="../static/images/blog/dog.png" class="img-fluid" alt="image" title="image"> Pets</a></li>
							<li><a href=""><img src="../static/images/blog/books.png" class="img-fluid" alt="image" title="image"> Education</a></li>
							<li><a href=""><img src="../static/images/blog/man-woman.png" class="img-fluid" alt="image" title="image"> Matrimony</a></li>
							<li><a href=""><img src="../static/images/blog/paper-money.png" class="img-fluid" alt="image" title="image"> Notes and Coins</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-lg-10 col-sm-9 col-md-9 padd0 col-xs-12 catebox">
				<div class="row">
					<div class="product-layout product-grid col-lg-3 col-md-4 col-sm-6 col-xs-12 cols">
						<div class="product-thumb">
							<div class="image">
								<a href="ads_single_view.html"><img src="images/mobile/01.jpg" alt="image" title="image" class="img-fluid"></a>
								<div class="onhover"> £3,000.00</div>
							</div>
							<div class="caption">
								<h4><a href="ads_single_view.html">Ads post title here</a></h4>
								<p class="des">Category : Vehicle</p>
								<ul class="list-unstyled">
									<li><i class="la la-map-marker"></i> Ludhiana, Punjab, India</li>
									<li><i class="la la-clock-o"></i> 09/03/2020</li>
								</ul>
							</div>
						</div>
					</div>
						
					
				<div class="text-center icon">
					<i class="la la-spinner fa-spin"></i>
				</div>
			</div>	
		</div>
	</div>
</div>
<!-- content end here -->



{% endblock %}
