<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
		
	<!-- Bootstrap stylesheet -->
<link href="../static/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet"> 
<!-- stylesheet -->
<link href="../static/css/style.css" rel="stylesheet" type="text/css"/>

<!-- font-awesome -->
<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- line-awesome -->
<link href="../static/line-awesome/css/line-awesome.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<!--top start here -->
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-xs-12">
					<ul class="list-inline icon">
						<li>
							<!--language code start here-->
							
							<!--language code end here-->
						</li>
						{% if not user.is_authenticated %}
						<li><a href="{% url 'login' %}"><i class="la la-plus-square"></i> <span>Login</span></a></li>
						{% else %}
                        <li><a href="{% url 'logout' %}"><i class="la la-plus-square"></i> <span>Logout</span></a></li>
                        {% endif %}

						{% if not user.is_authenticated %}
						<li><a href="{% url 'register' %}"><i class="la la-key"></i> <span>Register</span></a></li>
						{% endif %}
					</ul>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="topnav responsive" id="myTopnav">
						<ul class="list-inline">
							<li><a href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'aboutus' %}">About</a></li>
							{% if user.is_authenticated %}
							<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
							{% endif %}
							<li><a href="">Term & Conditions</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--top end here -->

	<!-- header start here-->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div id="logo">
						<a href="index.html"><img class="img-fluid logochange" src="../static/images/logo.jpg" alt="logo"
								title="logo" /></a>
					</div>
				</div>

				<div class="col-md-7 col-sm-7 col-xs-12">
					<form class="form-horizontal category" method="post">
						<div class="row">
							<div class="col-sm-3 paddright">
								<div class="form-group">
									<select class="selectpicker form-control bs-select-hidden" name="location">
										<option value="1">Select City</option>
										<option value="0">Pokhara</option>
										<option value="0">Kathmandu</option>
										<option value="0">Baglung</option>
										<option value="0">Mahendranagar</option>
										<option value="0">Biratnagar</option>
										<option value="0">Butwal</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3 paddright">
								<div class="form-group">
									<select class="selectpicker form-control bs-select-hidden" name="location">
										<option value="1">Select Category</option>
										<option value="0">Vehicle</option>
										<option value="0">Mobiles</option>
										<option value="0">Electonics</option>
										<option value="0">Real Estate</option>
										<option value="0">Fashion</option>
										<option value="0">Furniture</option>
										<option value="0">Jobs</option>
										<option value="0">Services</option>
										<option value="0">Pets</option>
										<option value="0">Education</option>
										<option value="0">Matrimony</option>
										<option value="0">Note and Coins</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 search">
								<div class="form-group">
									<input name="s" value="" class="form-control" placeholder="Enter Keyword"
										type="text">
									<button type="submit" value="submit" class="btn"><i class="icon_search"
											></i></button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12 center">
					<button class="btn-primary btn-block" type="submit"> <i
							class="la la-edit"></i><a href="{% url 'createads' %}">Add Listing</a></button>
				</div>
			</div>
		</div>
	</header>
	<!-- header end here -->


{% block content %}
{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 matter">
                <img src="../static/images/logo.jpg"  class="img-fluid logochange" alt="logo" title="logo" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc est justo, aliquam nec tempor fermentum, commodo et libero. Quisque et rutrum arcu. Vivamus dictum tincidunt magna id euismod. Nam sollicitudin mi quis orci lobortis feugiat.</p>
				
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 info">
                <h5>Usefull Links</h5>
				<ul class="list-inline links">
                    <li><a href="index.html">Home</a></li>
					
                    <li><a href="aboutus.html">About</a></li>
					
                    
					
                    <li><a href="login.html">Login</a></li>
					<li><a href="contactus.html">Help & Contact us</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="terms_and_conditions.html">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h5>Contact with us</h5>
				<ul class="list-inline social">
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					
                    <li><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
	
</footer>